---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webfeature med transitions</title>
</head>
<body>
    <h1>layout</h1>
    <slot />
</body>
</html>

<script>
        //find alle divs.item
    const boxes = document.querySelectorAll('.item') ;
    //start funktion ved scroll
    window.addEventListener('scroll', fadeBoxes);
    //funktion til scroll
    function fadeBoxes(){
    console.log("helllo");
    //hvor i viewporten skal animationen starte
        const triggerBottom = (window.innerHeight - 200);
            
        boxes.forEach(box => {
        //find positions, top, bottom samt height
                const boxHeight = box.getBoundingClientRect().height;
                const boxTop = box.getBoundingClientRect().top;
                const boxBottom = box.getBoundingClientRect().bottom;
// hvis boksen er indenfor feltes skal animationen starte
                if (boxTop < triggerBottom && boxTop > -boxHeight + 100){
                        
                        box.classList.add('fade-in');
                }
                //når boksen ryger ud af feltet skal den gå tilbage til udgangspunktet
                if (boxBottom < 100 || boxTop > triggerBottom) {
                       box.classList.remove('fade-in');
                       box.style.opcity = 0.4;
                
        }
    });
};
</script>